<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<string>^(?:AD)*(\d{3})$</string>
	<key>AM</key>
	<string>^(\d{6})$</string>
	<key>AR</key>
	<string>^([A-Z]\d{4}[A-Z]{3})$</string>
	<key>AT</key>
	<string>^(\d{4})$</string>
	<key>AU</key>
	<string>^(\d{4})$</string>
	<key>AX</key>
	<string>^(?:FI)*(\d{5})$</string>
	<key>AZ</key>
	<string>^(?:AZ)*(\d{4})$</string>
	<key>BA</key>
	<string>^(\d{5})$</string>
	<key>BB</key>
	<string>^(?:BB)*(\d{5})$</string>
	<key>BD</key>
	<string>^(\d{4})$</string>
	<key>BE</key>
	<string>^(\d{4})$</string>
	<key>BG</key>
	<string>^(\d{4})$</string>
	<key>BH</key>
	<string>^(\d{3}\d?)$</string>
	<key>BM</key>
	<string>^([A-Z]{2}\d{2})$</string>
	<key>BN</key>
	<string>^([A-Z]{2}\d{4})$</string>
	<key>BR</key>
	<string>^(\d{8})$</string>
	<key>BY</key>
	<string>^(\d{6})$</string>
	<key>CA</key>
	<string>^([ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ]) ?(\d[ABCEGHJKLMNPRSTVWXYZ]\d)$</string>
	<key>CH</key>
	<string>^(\d{4})$</string>
	<key>CL</key>
	<string>^(\d{7})$</string>
	<key>CN</key>
	<string>^(\d{6})$</string>
	<key>CR</key>
	<string>^(\d{4})$</string>
	<key>CU</key>
	<string>^(?:CP)*(\d{5})$</string>
	<key>CV</key>
	<string>^(\d{4})$</string>
	<key>CX</key>
	<string>^(\d{4})$</string>
	<key>CY</key>
	<string>^(\d{4})$</string>
	<key>CZ</key>
	<string>^(\d{5})$</string>
	<key>DE</key>
	<string>^(\d{5})$</string>
	<key>DK</key>
	<string>^(\d{4})$</string>
	<key>DO</key>
	<string>^(\d{5})$</string>
	<key>DZ</key>
	<string>^(\d{5})$</string>
	<key>EC</key>
	<string>^([a-zA-Z]\d{4}[a-zA-Z])$</string>
	<key>EE</key>
	<string>^(\d{5})$</string>
	<key>EG</key>
	<string>^(\d{5})$</string>
	<key>ES</key>
	<string>^(\d{5})$</string>
	<key>ET</key>
	<string>^(\d{4})$</string>
	<key>FI</key>
	<string>^(?:FI)*(\d{5})$</string>
	<key>FM</key>
	<string>^(\d{5})$</string>
	<key>FO</key>
	<string>^(?:FO)*(\d{3})$</string>
	<key>FR</key>
	<string>^(\d{5})$</string>
	<key>GB</key>
	<string>^(([A-Z]\d{2}[A-Z]{2})|([A-Z]\d{3}[A-Z]{2})|([A-Z]{2}\d{2}[A-Z]{2})|([A-Z]{2}\d{3}[A-Z]{2})|([A-Z]\d[A-Z]\d[A-Z]{2})|([A-Z]{2}\d[A-Z]\d[A-Z]{2})|(GIR0AA))$</string>
	<key>GE</key>
	<string>^(\d{4})$</string>
	<key>GF</key>
	<string>^((97|98)3\d{2})$</string>
	<key>GG</key>
	<string>^(([A-Z]\d{2}[A-Z]{2})|([A-Z]\d{3}[A-Z]{2})|([A-Z]{2}\d{2}[A-Z]{2})|([A-Z]{2}\d{3}[A-Z]{2})|([A-Z]\d[A-Z]\d[A-Z]{2})|([A-Z]{2}\d[A-Z]\d[A-Z]{2})|(GIR0AA))$</string>
	<key>GL</key>
	<string>^(\d{4})$</string>
	<key>GP</key>
	<string>^((97|98)\d{3})$</string>
	<key>GR</key>
	<string>^(\d{5})$</string>
	<key>GT</key>
	<string>^(\d{5})$</string>
	<key>GU</key>
	<string>^(969\d{2})$</string>
	<key>GW</key>
	<string>^(\d{4})$</string>
	<key>HN</key>
	<string>^([A-Z]{2}\d{4})$</string>
	<key>HR</key>
	<string>^(?:HR)*(\d{5})$</string>
	<key>HT</key>
	<string>^(?:HT)*(\d{4})$</string>
	<key>HU</key>
	<string>^(\d{4})$</string>
	<key>ID</key>
	<string>^(\d{5})$</string>
	<key>IL</key>
	<string>^(\d{5})$</string>
	<key>IM</key>
	<string>^(([A-Z]\d{2}[A-Z]{2})|([A-Z]\d{3}[A-Z]{2})|([A-Z]{2}\d{2}[A-Z]{2})|([A-Z]{2}\d{3}[A-Z]{2})|([A-Z]\d[A-Z]\d[A-Z]{2})|([A-Z]{2}\d[A-Z]\d[A-Z]{2})|(GIR0AA))$</string>
	<key>IN</key>
	<string>^(\d{6})$</string>
	<key>IQ</key>
	<string>^(\d{5})$</string>
	<key>IR</key>
	<string>^(\d{10})$</string>
	<key>IS</key>
	<string>^(\d{3})$</string>
	<key>IT</key>
	<string>^(\d{5})$</string>
	<key>JE</key>
	<string>^(([A-Z]\d{2}[A-Z]{2})|([A-Z]\d{3}[A-Z]{2})|([A-Z]{2}\d{2}[A-Z]{2})|([A-Z]{2}\d{3}[A-Z]{2})|([A-Z]\d[A-Z]\d[A-Z]{2})|([A-Z]{2}\d[A-Z]\d[A-Z]{2})|(GIR0AA))$</string>
	<key>JO</key>
	<string>^(\d{5})$</string>
	<key>JP</key>
	<string>^(\d{7})$</string>
	<key>KE</key>
	<string>^(\d{5})$</string>
	<key>KG</key>
	<string>^(\d{6})$</string>
	<key>KH</key>
	<string>^(\d{5})$</string>
	<key>KP</key>
	<string>^(\d{6})$</string>
	<key>KR</key>
	<string>^(?:SEOUL)*(\d{6})$</string>
	<key>KW</key>
	<string>^(\d{5})$</string>
	<key>KZ</key>
	<string>^(\d{6})$</string>
	<key>LA</key>
	<string>^(\d{5})$</string>
	<key>LB</key>
	<string>^(\d{4}(\d{4})?)$</string>
	<key>LI</key>
	<string>^(\d{4})$</string>
	<key>LK</key>
	<string>^(\d{5})$</string>
	<key>LR</key>
	<string>^(\d{4})$</string>
	<key>LS</key>
	<string>^(\d{3})$</string>
	<key>LT</key>
	<string>^(?:LT)*(\d{5})$</string>
	<key>LU</key>
	<string>^(\d{4})$</string>
	<key>LV</key>
	<string>^(?:LV)*(\d{4})$</string>
	<key>MA</key>
	<string>^(\d{5})$</string>
	<key>MC</key>
	<string>^(\d{5})$</string>
	<key>MD</key>
	<string>^(?:MD)*(\d{4})$</string>
	<key>ME</key>
	<string>^(\d{5})$</string>
	<key>MG</key>
	<string>^(\d{3})$</string>
	<key>MK</key>
	<string>^(\d{4})$</string>
	<key>MM</key>
	<string>^(\d{5})$</string>
	<key>MN</key>
	<string>^(\d{6})$</string>
	<key>MQ</key>
	<string>^(\d{5})$</string>
	<key>MT</key>
	<string>^([A-Z]{3}\d{2}\d?)$</string>
	<key>MV</key>
	<string>^(\d{5})$</string>
	<key>MX</key>
	<string>^(\d{5})$</string>
	<key>MY</key>
	<string>^(\d{5})$</string>
	<key>MZ</key>
	<string>^(\d{4})$</string>
	<key>NC</key>
	<string>^(\d{5})$</string>
	<key>NE</key>
	<string>^(\d{4})$</string>
	<key>NF</key>
	<string>^(\d{4})$</string>
	<key>NG</key>
	<string>^(\d{6})$</string>
	<key>NI</key>
	<string>^(\d{7})$</string>
	<key>NL</key>
	<string>^(\d{4}[A-Z]{2})$</string>
	<key>NO</key>
	<string>^(\d{4})$</string>
	<key>NP</key>
	<string>^(\d{5})$</string>
	<key>NZ</key>
	<string>^(\d{4})$</string>
	<key>OM</key>
	<string>^(\d{3})$</string>
	<key>PF</key>
	<string>^((97|98)7\d{2})$</string>
	<key>PG</key>
	<string>^(\d{3})$</string>
	<key>PH</key>
	<string>^(\d{4})$</string>
	<key>PK</key>
	<string>^(\d{5})$</string>
	<key>PL</key>
	<string>^(\d{5})$</string>
	<key>PM</key>
	<string>^(97500)$</string>
	<key>PR</key>
	<string>^(\d{9})$</string>
	<key>PT</key>
	<string>^(\d{7})$</string>
	<key>PW</key>
	<string>^(96940)$</string>
	<key>PY</key>
	<string>^(\d{4})$</string>
	<key>RE</key>
	<string>^((97|98)(4|7|8)\d{2})$</string>
	<key>RO</key>
	<string>^(\d{6})$</string>
	<key>RS</key>
	<string>^(\d{6})$</string>
	<key>RU</key>
	<string>^(\d{6})$</string>
	<key>SA</key>
	<string>^(\d{5})$</string>
	<key>SD</key>
	<string>^(\d{5})$</string>
	<key>SE</key>
	<string>^(?:SE)*(\d{5})$</string>
	<key>SG</key>
	<string>^(\d{6})$</string>
	<key>SH</key>
	<string>^(STHL1ZZ)$</string>
	<key>SI</key>
	<string>^(?:SI)*(\d{4})$</string>
	<key>SK</key>
	<string>^(\d{5})$</string>
	<key>SM</key>
	<string>^(4789\d)$</string>
	<key>SN</key>
	<string>^(\d{5})$</string>
	<key>SO</key>
	<string>^([A-Z]{2}\d{5})$</string>
	<key>SV</key>
	<string>^(?:CP)*(\d{4})$</string>
	<key>SZ</key>
	<string>^([A-Z]\d{3})$</string>
	<key>TC</key>
	<string>^(TKCA 1ZZ)$</string>
	<key>TH</key>
	<string>^(\d{5})$</string>
	<key>TJ</key>
	<string>^(\d{6})$</string>
	<key>TM</key>
	<string>^(\d{6})$</string>
	<key>TN</key>
	<string>^(\d{4})$</string>
	<key>TR</key>
	<string>^(\d{5})$</string>
	<key>TW</key>
	<string>^(\d{5})$</string>
	<key>UA</key>
	<string>^(\d{5})$</string>
	<key>US</key>
	<string>^\d{5}(-\d{4})?$</string>
	<key>UY</key>
	<string>^(\d{5})$</string>
	<key>UZ</key>
	<string>^(\d{6})$</string>
	<key>VA</key>
	<string>^(\d{5})$</string>
	<key>VE</key>
	<string>^(\d{4})$</string>
	<key>VI</key>
	<string>^\d{5}(-\d{4})?$</string>
	<key>VN</key>
	<string>^(\d{6})$</string>
	<key>WF</key>
	<string>^(986\d{2})$</string>
	<key>YT</key>
	<string>^(\d{5})$</string>
	<key>ZA</key>
	<string>^(\d{4})$</string>
	<key>ZM</key>
	<string>^(\d{5})$</string>
	<key>CS</key>
	<string>^(\d{5})$</string>
</dict>
</plist>
